<div class="ins">
    <label class="form-label"> Hobbies </label>
    <input type="text" class="form-control" placeholder="Ejemplo: Bailar, Cantar y Pintar" name="{{name}}" id="{{id}}" value="{{HOBBIES}}">
</div>

<div class="ins">
    <label class="form-label"> Sabor de Pastel Favorito </label>
    <input type="text" class="form-control" placeholder="Ejemplo: Vainilla" name="{{name2}}" id="{{id2}}" value="{{PASTEL}}">
</div>

<div class="ins">
    <label class="form-label"> Genéro de Musica Favorito </label>
    <input type="text" class="form-control" placeholder="Ejemplo: Pop y Rock" name="{{name3}}" id="{{id3}}" value="{{MUSICA}}">
</div>