<select type="select" class="form-control" name={{name2}} id={{id2}} onchange="dependencia(value)">
    <option value="Nada" selected hidden> Seleccione una opción </option>
    <option value="{{DEPENDENCIA_COLABORADOR_AD}}" selected hidden> {{DEPENDENCIA_COLABORADOR_AD}} </option>
    <option value="Si">Si</option>
    <option value="No">No</option>
</select>
<input type="number" class="form-control" placeholder="0" name={{name3}} disabled id={{name3}} value="{{NUM_DEPENDIENTES_COLABORADOR_AD}}">