<select type="select" class="form-control" name="{{name}}" id="{{id}}">
    {{#if datos.CIUDAD_COLABORADOR}}
        <option value="{{datos.CIUDAD_COLABORADOR}}" hidden> {{datos.CIUDAD_COLABORADOR}} </option>
    {{else}}
        <option value="Nada" selected hidden> Seleccione </option>
    {{/if}}
    {{#each municipios}}
    <option value="{{MunicipioId}}"> {{Descripcion}} </option>
    {{/each}}
</select>